@media (max-width: 550px) {
  .header_nav,
  .header_logo {
    display: none;
  }
  .header_burger {
    display: block;
  }
  .section_text {
    white-space: normal;
  }
  .section-wrapper {
    padding-inline: 24px;
  }
  h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .section2_text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}
